/* All styles for your Card Components live here */
.card-container {
  border: 1px solid lightgrey;
  border-radius: 5px;
  display: block;
  margin-left: 62px;
  max-width: 500px;
  text-decoration: none;
}

.card-banner {
  background: url('https://tk-assets.lambdaschool.com/fcd75197-7d12-46ec-bc9e-4130f34822fa_reactbackground.png') center no-repeat;
  background-size: cover;
  border-radius: 4px 4px 0 0;
  height: 250px;
  margin: 0 0 0 auto;
  width: 100%;
}

.card-content {
  color: black;
  font-size: 0.8rem;
  padding-left: 1rem;
}
.card-content h1 {
  font-size: 0.8rem;
  margin: 1rem 0 0;
}
.card-content h2 {
  color: gray;
  font-size: 0.75rem;
  font-weight: 500;
  margin: 0.5rem;
}
.card-content p {
  font-size: 0.9rem;
  margin: 0.5rem 0 0;
}
